body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h2, h3 {
  font-family: 'Anonymous Pro', monospace;
}

nav {
  height: 10vh;
  color: #4F2D7F;
  padding: 0 10%;
}

#logo {
  float: left;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  height: 80%;
}

#menu {
  float: right;
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

#menu .item a {
  text-decoration: none;
  color: #4F2D7F;
}

#cookies {
  position: fixed;
  bottom: 1%;
  right: 10%;
  width: 10%;
  padding: 1%;
  background-color: #4F2D7F;
  color: white;
  font-family: 'Anonymous Pro', monospace;

  border: 2px solid white;
}

#cookies button {
  margin-top: 5%;
  float: right;

  background-color: white;
  border-radius: 0px;
  border: none;
  padding: 2px 15px;
}

#presentation {
  height: 90vh;
  background-color: #FFFF00;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#text {
  position: relative;
  left: 10%;

  text-transform: uppercase;
  font-family: 'Anonymous Pro', monospace;
  font-size: 2em;
  color: #4F2D7F;
}

#subtitle {
  font-size: 0.5em;
}

#splash {
  position: relative;
  right: 10%;
  width: 40%;
}

#information {
  column-count: 2;
  column-gap: 10%;
  padding: 10vh 10vw;
}

#schedule {
  background-color: #FFFF00;
  padding: 10vh 10vw;
}

.day {
  margin-top: 15px;
}

.date {
  font-weight: bold;
  font-size: larger;
}

.item {
  clear: both;
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 5px 0;
}

.activity {
  padding-left: 5px;
}

#faq {
  padding: 10vh 10vw;
}

#register {
  height: 20vh;

  background-color: #FFFF00;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register a {
  text-transform: uppercase;
  color: white;

  background-color: #4F2D7F;
  font-family: 'Anonymous Pro', monospace;
  font-size: 2em;

  margin: 10% 50%;
  padding: 20px 50px;
}

#register a {
  text-decoration: none;
}

footer {
  color: white;
  background-color: #4F2D7F;
  padding: 10vh 10vw;
}

footer a {
  color: white;
}
