body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h2, h3 {
  font-family: 'Anonymous Pro', monospace;
  text-transform: uppercase;
}

nav {
  background-color: #4f2e7f;
  height: 10vh;
  color: #4F2D7F;
  padding: 0 10%;
}

#menu {
  margin: 0 auto;
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu .item a {
  text-decoration: none;
  color: #8dce34;
}

#presentation {
  padding: 10vh 10vw;
  background-color: #4f2e7f;
}

#text {
  margin: auto 0;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  font-size: 2em;
  color: white;
}

h1 {
  font-size: 2.5em;
  margin: 1%;
}

.subtitle {
  font-size: 0.8em;
}

#moment {
  color: #8dce34;
}

#information {
  border-top: 5px solid #8dce34;
  background-color: #4f2e7f;
  padding: 10vh 10vw;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 40%;
  color: #8dce34;
}

.info h2, .info h3 {
  color: white;
  font-size: 2.5em;
}

#schedule {
  padding: 10vh 10vw;
}

.day {
  margin-top: 15px;
}

.date {
  font-weight: bold;
  font-size: larger;
  color: #8dce34;
}

.item {
  display: flex;
  justify-content: left;
}

.hour:after {
  content: " - ";
}

.activity {
  padding-left: 5px;
}

#faq {
  border-top: 5px solid #8dce34;
  padding: 10vh 10vw;
}

#schedule h2, #faq h2 {
  color: #2f6f00;
}

#schedule h3, #faq h3 {
  color: #8dce34;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register a {
  text-transform: uppercase;
  color: #8dce34;
  background-color: white;

  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;

  border-radius: 20px;
  border: 5px solid #4F2D7F;

  margin: 5% 50%;
  padding: 15px 30px;
  text-decoration: none;
}

footer {
  color: white;
  background-color: #4F2D7F;
  padding: 10vh 10vw;
}

footer a {
  color: white;
}
